@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 20px;
  font-weight: 300;
  scroll-behavior: smooth;
}

/* Todo: Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #607EAA;
}

::-webkit-scrollbar-thumb {
  background: #1C3879;
}

::-webkit-scrollbar-thumb:hover {
  background: #264CA3;
}

/* Todo: Button */
.btn {
  padding: 8px 25px;
  
  background-color: #1C3879;
  border: none;
  border-radius: 8px;
  outline: none;
  width: fit-content;
  
  font-size: .85em;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  
  box-shadow: 5px 8px 10px #00000060;
  transition-duration: .6s;
  cursor: pointer;
}

.btn:hover {
  background-color: #264CA3;
}

/* Todo: #navbar */
#navbar {
  position: fixed;
  inset: 0;
  padding: 0 60px;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 2;
}

#navbar .web-name {
  font-size: 22px;
  font-weight: 500;
  color: #1C3879;
  flex: 2;
}

#navbar .menu-warper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex: 2;
}

#navbar a {
  padding: 0 5px;
  border-bottom: 2px solid #FFF;
  font-weight: 400;
  color: #264CA3;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

#navbar a:hover {
  border-bottom: 2px solid #264CA3;
}

/* Todo: Header */
#home {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

#home .content {
  padding: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #00000070;
}

#home h4 {
  font-size: 1.3em;
  font-weight: 500;
  color: #CCC;
}

#home h1 {
  margin-left: 30px;
  font-size: 4em;
  font-weight: 600;
  line-height: 1.2em;
  color: #D4E1F5;
}

#home p {
  margin: 30px 0 30px 30px;
  max-width: 650px;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: #F9F5EB;
}

#home .btn {
  margin-left: 30px;
}

/* Todo: about */
#about {
  padding: 60px;
}

#about h1 {
  color: #1C3879;
}

#about .content {
  margin-bottom: 60px;
  display: grid;
  gap: 30px;
}

#about .content.left {
  grid-template-columns: 6fr 4fr;
  justify-items: end;
}

#about .content.right {
  grid-template-columns: 4fr 6fr;
  justify-items: start;
}

#about .content p {
  padding: 30px 0;
  color: #264CA3;
  font-weight: 500;
  text-align: justify;
  text-indent: 60px;
}

#about .content.right p {
  order: 2;
}

/* Todo: product */
#product {
  padding: 60px;
  background-color: #607EAA;
}

#product h1 {
  color: #D4E1F5;
  text-align: center;
}

#product .card-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#product .card {
  border-radius: 8px;
  background-color: #F9F5EB;
  cursor: pointer;
}

#product .card .img {
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: .5s;
}

#product .card:hover .img {
  background-size: 70%;
}

#product .card .detail {
  padding: 20px;
}

#product .card .title {
  font-size: 1.5em;
  font-weight: 600;
  color: #1C3879;
}

#product .card .desc {
  padding: 10px;
  color: #264CA3;
}

/* Todo: service */
#service {
  padding: 120px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#service .service-item {
  text-align: center;
}

#service .service-item img {
  width: 150px;
}

#service .service-item .title {
  font-size: 1.3em;
  font-weight: 600;
  color: #1C3879;
}

#service .service-item .desc {
  margin-top: 10px;
  color: #264CA3;
}

/* Todo: contact */
#contact {
  padding: 60px;
  background-color: #1C3879;
}

#contact h1 {
  color: #FFF;
}

#contact .grid-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 30px;
}

#contact .contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact h3 {
  color: #D4E1F5;
  font-weight: 400;
}

#contact .social {
  margin-top: 60px;
  display: flex;
  gap: 15px;
}

#contact .social a {
  color: #FFF;
  font-size: 1.5em;
  transition: .5s;
}

#contact .social a:hover {
  color: #607EAA;
}

#contact iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 8px;
}

@media only screen and (max-width: 991px) {
  #navbar, #about, #product, #contact {
    padding: 30px;
  }

  /* Todo: about */
  #about .content {
    grid-template-columns: 1fr !important;
  }

  #about .content.right p {
    order: 1;
  }

  #about .content.right img {
    order: 2;
  }

  #about img {
    width: 100%;
  }
  
  /* Todo: product */
  #product .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* Todo: service */
  #service {
    padding: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 430px) {
  #about, #product, #service {
    padding: 15px;
  }

  #product .card-container,
  #service,
  #contact .grid-container {
    grid-template-columns: 1fr;
  }

  /* Todo: #navbar */
  #navbar {
    padding: 0 15px;
    gap: 20px;
  }

  #navbar .menu-warper {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #efefef;
    flex-direction: column;
    justify-content: flex-start;
    transform: scaleY(0);
    transition: .5s;
    transform-origin: top;
    overflow: auto;
    gap: 0;
  }

  #navbar[active] .menu-warper {
    transform: scaleY(1);
  }

  #navbar a,
  #navbar a:hover,
  #navbar a.active {
    margin: 5px 0;
    padding: 0 30px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 45px;
    font-size: 1rem;
    text-align: center;
  }

  #navbar .toggle-menu::before {
    content: '\f550';
    color: #264CA3;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    cursor: pointer;
  }

  #navbar[active] .menu-warper + .toggle-menu::before {
    content: '\f00d';
    cursor: pointer;
  }

  /* Todo: Header */
  #home .content {
    padding: 15px;
  }

  #home h1 {
    margin-left: 0px;
    font-size: 3em;
  }

  #home p {
    margin: 30px auto 30px;
    font-size: 1.3em;
    text-align: center;
  }

  #home .btn {
    margin: 30px auto ;
  }
}